<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My site | <%= title %></title>
    <style>
        body {
            background-color: #000; color: red;
        }
        a {
            color: white;
        }
    </style>
</head>
<body>

    <%- include("partials/header.ejs") %>

    <h1>404 ERROR</h1>

</body>
</html>
