@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    background-color: #0C1015;
    color: #fff;
    font-family: 'Inter', Verdana, Geneva, Tahoma, sans-serif;
}

.page {
    margin-top: 143px;
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}

.pictures {
    width: 534px;
}

.content {
    width: 532px;    
    background-color: #24292F;
    overflow: hidden;
    padding: 50px;
}

.content h1 {
    font-size: 22px; margin-bottom: 8px;
}
.content h2 {
    color: #C92B2B;
    margin-bottom: 26px;
}
.content p {
    font-size: 14px;
    line-height: 200%;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }

  .swiper-grid-column>.swiper-wrapper {
    flex-direction: row!important;
  }