<body>
    <%
    const date = new Date();
    const hours = date.getHours();
    const minutes = date.getMinutes();
    %>

    <h1>Hello !</h1>
    <h2>It's <%= hours + "h" + minutes %></h2>
</body>