<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A propos</title>
</head>
<body>
    <div style="width: 50%; margin: auto;">
        <%- include('./composants/header') %>
        
        <section>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi sapiente sequi accusantium, mollitia architecto, saepe aspernatur harum accusamus consequatur perferendis sed facere omnis dolorem error quod inventore nesciunt provident earum natus. Doloremque itaque illum voluptas tenetur asperiores, optio, sequi laudantium rerum officiis, eius debitis! Atque, rem? Non eos perspiciatis fugit minima neque quasi, dolorem quas enim ipsum nobis dolorum doloribus laudantium error et blanditiis, tempora aperiam exercitationem dolores hic assumenda, totam laboriosam. Quod repellendus totam voluptatem assumenda sit mollitia. Aspernatur vitae dolor, illum animi quam nesciunt ea dolorem minima, dolorum esse nam nisi deleniti facere. Pariatur quam id impedit iure.</p>
            <hr>
        </section>
    </div>
</body>
</html>