<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
    <div style="width: 50%; margin: auto;">
        <%- include('./composants/header') %>

        <section>
            <form action="">
                <label for="titre">Titre</label><br>
                <input type="text" id="titre" name="titre"><br>
                <label for="description">Description</label><br>
                <textarea name="description" id="description" cols="20" rows="3"></textarea>
                <br>
                <input type="submit" value="Enregistrer"></input>
            </form>
            <hr>
        </section>
        <section>
            <h2>Liste des notes</h2>
            <ul>
                <% for(let i = 0; i < notes.length; i++) { %>
                    <li><%= notes[i].titre + ' : ' + notes[i].desc %></li>
                <% } %>
            </ul>
        </section>
    </div>
</body>
</html>