<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Introuvable</title>
</head>
<body>
    <div style="width: 50%; margin: auto;">
        <%- include('./composants/header') %>
        <section>
            <h2>404 page Introuvable</h2>
            <p>vous avez validé une url non valide</p>
        </section>
    </div>
</body>
</html>