.header {
  padding: 72px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  input {
    display: none;
  }

  label {
    position: relative;
    z-index: 9999999;
  }

  ul {
    width: 70vw;
    height: 100vh;
    background-color: $grey-dark;
    position: fixed;
    top: 0;
    right: -70vw;
    @include transition;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 40px;

    @include ipadPro {
      display: flex;
    }

    a {
      color: $white;
      @include transition;

      &:hover {
        color: $red;
      }
    }
  }

  input:checked ~ ul {
    right: 0;
  }

  @include ipadPro {
    label {
      display: none;
    }

    ul {
      all: unset;
      list-style: none;
      display: flex;
      gap: 40px;

      li a {
        color: $grey-dark;
      }
    }
  }
}
