@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

span {
  display: block;
}

body {
  font-family: "Inter";
  background-color: $white;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 10px;
}
